@font-face {
            font-family: FiraCode-Light;
            src: url(../FiraCode-Light.woff2);
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: FiraCode-Light;
        }



        body {
            background: #1E1E1E;
            line-height: 1.6;

            img,
            svg {
                width: 100%;
            }

            header {
                margin: 2rem auto 0 auto;
                text-align: left;
                color: #E6D4A3;
                width: 56.5%;


                h2 {
                    text-transform: uppercase;
                }
            }

            .mdiv {
                margin: 0 auto;
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                flex-flow: column;
                justify-content: center;
                align-items: center;

                .csb {
                    margin: 1rem 0;
                    width: 70%;
                    border-radius: 10px;


                    fieldset {
                        border-radius: 12px;
                        color: #E6D4A3;
                        padding: 1rem;
                        font-size: 14px;


                        legend {
                            color: #E6D4A3;
                            padding: 0 0.80rem;

                            &::before {
                                content: "≥";
                                margin-right: 0.5rem;
                            }

                        }

                        .section-grp {

                            margin: 0 auto;
                            display: grid;
                            grid-template-columns: 0.5fr 0.1fr 2fr;
                            align-items: left;

                            .section {
                                content: '';
                                text-align: center;

                                .so-link {
                                    color: #E6D4A3;
                                    text-decoration: none;
                                }
                            }

                            .section.sec-1 {
                                text-align: left;
                            }

                            .section.sec-2 {
                                text-align: left;
                                padding-left: 10px;
                            }

                            .section.sec-3 {
                                text-align: left;
                                padding-left: 1rem;
                            }

                            .sec-1.pro {
                                color: #578E57;
                            }


                        }
                    }


                    /* Profile Section */
                    .profile {
                        box-shadow: 8px 5px 5px #E6D4A3;
                    }
                }


            }

            /* Footer Section */
            footer {
                .ftr-grp {
                    width: 56.5%;
                    margin: 0 auto;
                    padding: 2rem 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #578E57;
                    font-size: small;

                    :first-child {
                        width: 70%;
                    }

                    :last-child {
                        width: 30%;
                        text-align: right;

                    }

                    .last-child {
                        a {
                            color: #578E57;
                            text-decoration: none;

                            &:hover {
                                color: #E6D4A3;
                            }
                        }
                    }

                }
            }
        }
